<div class="a-right-pane">
    <div class="a-right-pane-cnt-wrp">
        <div class="a-logo-wrp">
            <img src="/assets/img/logo.png" alt="Logo" class="g-w-100per" />
        </div>
        <div>
            <div>
                <mat-card class="a-signup-card">Simple card</mat-card>
            </div>
            <div class="g-text-center">
                <div class="g-black-clr g-fs-24">Title</div>
            </div>
            <div class="g-text-center g-mt-17">
                <div class="g-fs-16 g-black-clr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                </div>
            </div>
        </div>
    </div>
</div>