.a-right-pane-pane {
  height: 100%;
}
.a-logo-wrp {
  max-width: 300px;
  margin: 0px auto 75px;
}
.a-signup-card {
  width: 335px;
  height: 230px;
  margin-bottom: 120px;
}

.a-right-pane-cnt-wrp {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}
